<div class="container">
	<div class="col-xs-3 col-xs-offset-9">
        <%= render 'searchs/search', user: @user %>
    </div>
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/profile', user: @user %>
			<%= render 'foods/newfood', food: @food_new %>
		</div>
		<div class="col-xs-9">
			<h2>投稿詳細</h2>
			<table class="table table-striped">
				<tr>
					<td>
						<%= link_to user_path(@user) do %>
							<%= attachment_image_tag(@food.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
							<%= @food.user.name %>
						<% end %>
					</td>
					<td><%= attachment_image_tag @food, :food_image, :fill, 100, 100, fallback: "no-image-mini.jpg" %>
					</td>
					<td><%= link_to @food.title, food_path(@food) %>
					</td>
					<td><%= @food.body %>
					</td>

					<% if @user.id == current_user.id %>
					<td><%= link_to "Edit", edit_food_path(@food), class: "btn-sm btn-success edit_food_#{@food.id}" %></td>
					<td><%= link_to "Destroy", food_path(@food), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_food_#{@food.id}" %></td>
					<% end %>
				</tr>
			</table>
			<% if @food.favorited_by?(current_user) %>
				<li>
			  		<%= link_to food_favorites_path(@food), method: :delete, remote: true do %>
			    		<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			    		<%= @food.favorites.count %> いいね解除
			  		<% end %>
				</li>
					<% else %>
				<li>
			  		<%= link_to food_favorites_path(@food), method: :post, remote: true do %>
			    		<i class="fa fa-heart-o" aria-hidden="true"></i>
			    		<%= @food.favorites.count %> いいね！
			  		<% end %>
				</li>
			<% end %>
			<br>

			<a href="#comments"><%= @food.food_comments.count %></a>件のレビューがあります
			<div class="comment-list bt style-2" id="comments">
			    <div class="row">
				    <div class="col-xs-9">
				        <% @food.food_comments.each do |c| %>
				        	<tr><%= attachment_image_tag @food_comment, :post_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>
				        	<table>
				        		<th>
							        <a href="#" class="link-author"><%= c.user.name %></a>
						            <span class="comment-date"><%= c.created_at.strftime('%Y/%m/%d') %>
						            </span>
						            <div class="comment-entry">
						            	<%= c.content %>
							            <% if c.user == current_user %>
									          <%=link_to "delete", food_food_comment_path(c.food, c), method: :delete, class: "btn btn-danger pull-right" %>
										<% end %>
									</div>
								</th>
							</table>
			            <% end %>
			        </div>
			    </div>
			</div>
			<%= render 'food_comments/review', food_comment: @review, food: @food %>
			<br>
		</div>
	</div>
</div>
