<div class="container">
  <table class="table table-striped">
    <% if @search_users %>
      <% @search_users.each do |user| %>
        <h2>Foods search for '<%= user.name %>'</h2>
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tr>
          <td><%= attachment_image_tag(user, :profile_image, :fill, 35, 35, fallback: "no-image-mini.jpg") %></td>
        <td><%= user.name %></td>
        <td><%= "フォロー数: #{user.follower.count}" %><td>
        <td><%= "フォロワー数: #{user.followed.count}" %></td>
        <% if current_user.following?(user) %>
          <td>
            <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
          </td>
        <% else %>
          <td>
            <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
          </td>
        <% end %>
          <td>
            <p><%= link_to 'show', user_path(user) %></p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>